## 데이터 톺아보기

In [3]:
# pandas 라이브러리를 Import하기
import pandas as pd

In [4]:
# 데이터 파일을 읽어오기

rock_samples = pd.read_csv('rocksamples.csv')
rock_samples

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
0     10001  Apollo11     Soil  Unsieved      125.80         88.36
1     10002  Apollo11     Soil  Unsieved     5629.00         93.73
2     10003  Apollo11   Basalt  Ilmenite      213.00         65.56
3     10004  Apollo11     Core  Unsieved       44.80         71.76
4     10005  Apollo11     Core  Unsieved       53.40         40.31
...     ...       ...      ...       ...         ...           ...
2224  79528  Apollo17  Breccia  Regolith        2.38        100.00
2225  79529  Apollo17  Breccia  Regolith        1.84        100.00
2226  79535  Apollo17  Breccia  Regolith        1.69        100.00
2227  79536  Apollo17  Breccia  Regolith        1.66        100.00
2228  79537  Apollo17  Breccia  Regolith        1.05        100.00

[2229 rows x 6 columns]

In [5]:
# 데이터프레임 처음과 마지막 5개행 확인하기
display(rock_samples.head())
display(rock_samples.tail())

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11    Core  Unsieved        44.8         71.76
4  10005  Apollo11    Core  Unsieved        53.4         40.31

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
2224  79528  Apollo17  Breccia  Regolith        2.38         100.0
2225  79529  Apollo17  Breccia  Regolith        1.84         100.0
2226  79535  Apollo17  Breccia  Regolith        1.69         100.0
2227  79536  Apollo17  Breccia  Regolith        1.66         100.0
2228  79537  Apollo17  Breccia  Regolith        1.05         100.0

In [6]:
#rock_samples 데이터프레임 정보 확인하기

rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [7]:
#rock_samples 데이터프레임 행수 확인

rock_samples.shape[0]

2229

In [8]:
#rock_samples 데이터 프레임의 인덱스 확인

rock_samples.index

RangeIndex(start=0, stop=2229, step=1)

In [9]:
#rock_samples 데이터프레임 열수 확인

rock_samples.shape[1]

6

In [10]:
#rock_samples 데이터프레임의 모양 확인

rock_samples.shape

(2229, 6)

In [11]:
#rock_samples 데이터프레임의 컬럼명 확인

rock_samples.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [12]:
#rock_samples 데이터프레임 컬럼들의 데이터타입 확인

rock_samples.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [13]:
# rock_samples 데이터프레임 수치 데이터의 요약 통계 확인

display(rock_samples.describe())

over_hundred_pristine = rock_samples[rock_samples['Pristine (%)'] > 100.0]
display(over_hundred_pristine)
print(len(over_hundred_pristine))

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

         ID   Mission     Type      Subtype  Weight (g)  Pristine (%)
50    10070  Apollo11  Breccia     Regolith       60.16        112.50
82    12016  Apollo12   Basalt     Ilmenite     2028.00        100.08
91    12025  Apollo12     Core     Unsieved       56.10        163.41
123   12060  Apollo12     Soil     Unsieved       20.70        107.11
279   14288  Apollo14  Breccia   ImpactMelt        3.44        100.58
294   14306  Apollo14  Breccia   Fragmental      584.50        129.14
365   15024  Apollo15     Soil       4-10mm        3.60        106.11
424   15203  Apollo15     Soil        2-4mm        0.20        180.00
438   15230  Apollo15     Soil     Unsieved       99.10        100.24
465   15267  Apollo15  Breccia     Regolith        1.80        106.50
581   15504  Apollo15     Soil       4-10mm        4.10        100.73
697   15685  Apollo15  Breccia     Regolith        0.80        116.25
698   15686  Apollo15  Breccia     Regolith        0.90        117.22
699   15687  Apollo15  Breccia  Agglomerate        1.40        100.43
847   61284  Apollo16     Soil       4-10mm        0.00        102.10
1440  68824  Apollo16     Soil       4-10mm        1.50        103.60
1529  70184  Apollo17     Soil       4-10mm        1.68        101.73
1853  74120  Apollo17     Soil     Unsieved      124.10        100.20

18

## 각 컬럼별 누락값 검사

In [14]:
# 1단계 -> rock_samples 데이터프레임에 null값이 있는지 확인

rock_samples.isnull()

         ID  Mission   Type  Subtype  Weight (g)  Pristine (%)
0     False    False  False    False       False         False
1     False    False  False    False       False         False
2     False    False  False    False       False         False
3     False    False  False    False       False         False
4     False    False  False    False       False         False
...     ...      ...    ...      ...         ...           ...
2224  False    False  False    False       False         False
2225  False    False  False    False       False         False
2226  False    False  False    False       False         False
2227  False    False  False    False       False         False
2228  False    False  False    False       False         False

[2229 rows x 6 columns]

In [15]:
#결측치 갯수 확인인. false:0, True:1
rock_samples.isnull().sum()

ID              0
Mission         0
Type            0
Subtype         3
Weight (g)      0
Pristine (%)    0
dtype: int64

## 컬럼값 변환 : weight(g) -> weight(kg)

In [16]:
rock_samples.head(2)

      ID   Mission  Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11  Soil  Unsieved       125.8         88.36
1  10002  Apollo11  Soil  Unsieved      5629.0         93.73

In [17]:
rock_samples['Weight (g)']

0        125.80
1       5629.00
2        213.00
3         44.80
4         53.40
         ...
2224       2.38
2225       1.84
2226       1.69
2227       1.66
2228       1.05
Name: Weight (g), Length: 2229, dtype: float64

In [18]:
# 1단계 -> 컬럼값변환 : rock_samples['Weight (g)'] -> rock_samples['Weight (kg)]

rock_samples['Weight (kg)'] = rock_samples['Weight (g)'] / 1000

# 위 코드와 동일
# rock_samples['Weight (kg)'] = rock_samples['Weight (g)'].apply(lambda x: x / 1000)

In [19]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)  Weight (kg)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36       0.1258
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73       5.6290
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56       0.2130
3  10004  Apollo11    Core  Unsieved        44.8         71.76       0.0448
4  10005  Apollo11    Core  Unsieved        53.4         40.31       0.0534

In [20]:
#2단계 -> 컬럼명 변환 : 'Weight(g)' -> 'Weight(kg)

# 그냥 드랍
rock_samples.drop('Weight (g)', axis=1, inplace=True)
rock_samples.head()

      ID   Mission    Type   Subtype  Pristine (%)  Weight (kg)
0  10001  Apollo11    Soil  Unsieved         88.36       0.1258
1  10002  Apollo11    Soil  Unsieved         93.73       5.6290
2  10003  Apollo11  Basalt  Ilmenite         65.56       0.2130
3  10004  Apollo11    Core  Unsieved         71.76       0.0448
4  10005  Apollo11    Core  Unsieved         40.31       0.0534

## 아폴로 임무별 데이터 프레임 만들기 : missions

In [82]:
# 빈 데이터 프레임을 만들고 변수 missions에 할당한다.
missions = pd.DataFrame()
missions

Empty DataFrame
Columns: []
Index: []

In [83]:
type(missions)

pandas.core.frame.DataFrame

In [84]:
#rock_samples['Mission']의 중복되지 않은 고유값들을 알아본다.

rock_samples['Mission'].unique()

array(['Apollo11', 'Apollo12', 'Apollo14', 'Apollo15', 'Apollo16',
       'Apollo17'], dtype=object)

In [85]:
#위의 값들을 mission 데이터프레임의 새로운 컬럼인 mission['Mission']에 할당한다.

missions['Mission name'] = rock_samples['Mission'].unique()

missions

  Mission name
0     Apollo11
1     Apollo12
2     Apollo14
3     Apollo15
4     Apollo16
5     Apollo17

#### 아폴로 임무별 샘플 중량 총합

In [86]:
# rock_samples 데이터프레임의 'Mission' 컬럼을 기준으로 그룹으로 나눈다 -> groupby()
# 나누어진 그룹에서 'weight (kg)' 컬럼의 총합을 구한다 -> groupby('Mission')['weight (kg)].sum()
# 결국 아폴로 달탐사 임무별로 수집해온 암석 샘플 총중량을 구해서 새로운 변수에 할당한다. -> 이 변수는 시리즈이다.

rock_samples.groupby('Mission')['Weight (kg)'].sum()

Mission
Apollo11     21.55424
Apollo12     34.34238
Apollo14     41.83363
Apollo15     75.39910
Apollo16     92.46262
Apollo17    109.44402
Name: Weight (kg), dtype: float64

In [87]:
# missions 데이터프레임과 sample_total_weight 시리즈를 병합한다.

# merged = missions.merge(rock_samples.groupby('Mission')['Weight (kg)'].sum(), left_on='Mission Name', right_on='Mission')
# 위 코드는 아래와 동일합니다.

merged = pd.merge(missions, rock_samples.groupby('Mission')['Weight (kg)'].sum(), left_on='Mission name', right_on='Mission')
#      ^ 변수로 대입하지 않으면 병합 결과가 그냥 사라집니다.

missions = merged

missions

  Mission name  Weight (kg)
0     Apollo11     21.55424
1     Apollo12     34.34238
2     Apollo14     41.83363
3     Apollo15     75.39910
4     Apollo16     92.46262
5     Apollo17    109.44402

In [88]:
# 병합이 끝난 데이터프레임 mission에는 이미 'Weight (kg)' 컬럼이 존재합니다.
# 여기에서 다시 병합을 시도해봅니다.
re_merged = pd.merge(missions, rock_samples.groupby('Mission')['Weight (kg)'].sum(), left_on='Mission name', right_on='Mission')
re_merged

# 병합의 좌측 데이터프레임, 우측 데이터프레임 모두 'Weight (kg)' 컬럼을 가지는데, 
# 병합하는 기준이 되는 컬럼은 'Mission Name'과 'Mission'입니다.

# 'Weight (kg)' 컬럼은 병합되는 컬럼이 아닌데도 이름이 중복되기 때문에 
# 좌측 데이터프레임의 컬럼에는 '_x', 우측 데이터프레임의 컬럼에는 '_y'가 추가되고,
# 두 컬럼 데이터가 모두 병합된 데이터프레임이 포함됩니다.

  Mission name  Weight (kg)_x  Weight (kg)_y
0     Apollo11       21.55424       21.55424
1     Apollo12       34.34238       34.34238
2     Apollo14       41.83363       41.83363
3     Apollo15       75.39910       75.39910
4     Apollo16       92.46262       92.46262
5     Apollo17      109.44402      109.44402

In [89]:
# 컬럼명을 'Weight (kg)' 을 'Sample weight (kg)'으로 변경한다.

missions = missions.rename(columns={'Weight (kg)': 'Sample weight (kg)'})
missions

  Mission name  Sample weight (kg)
0     Apollo11            21.55424
1     Apollo12            34.34238
2     Apollo14            41.83363
3     Apollo15            75.39910
4     Apollo16            92.46262
5     Apollo17           109.44402

In [90]:
# 임무간 중량 차이 구하기
missions['Sample weight (kg)'].diff()

0         NaN
1    12.78814
2     7.49125
3    33.56547
4    17.06352
5    16.98140
Name: Sample weight (kg), dtype: float64

In [91]:
# 아폴로 임무간의 수집해온 암석 샘플 총중량 차이를 나타내는 컬럼 'Weight diff'를 missions 데이터프레임에 추가

missions['Weight diff (kg)'] = missions['Sample weight (kg)'].diff()
missions

  Mission name  Sample weight (kg)  Weight diff (kg)
0     Apollo11            21.55424               NaN
1     Apollo12            34.34238          12.78814
2     Apollo14            41.83363           7.49125
3     Apollo15            75.39910          33.56547
4     Apollo16            92.46262          17.06352
5     Apollo17           109.44402          16.98140

In [66]:
# 아폴로 11은 그 전 달탐사가 없어 NaN 값을 가지므로 결측치 0으로 채우기
missions = missions.fillna(value=0)
missions

  Mission name  Sample weight (kg)  Weight diff (kg)
0     Apollo11            21.55424           0.00000
1     Apollo12            34.34238          12.78814
2     Apollo14            41.83363           7.49125
3     Apollo15            75.39910          33.56547
4     Apollo16            92.46262          17.06352
5     Apollo17           109.44402          16.98140

In [92]:
# 달탐사선 = 달모듈 + 명령모듈 --> 이 둘을 합쳐서 승무원 모듈
# 달 모듈의 이름, 중량 컬럼을 missions 데이터프레임에 추가
달모듈이름 = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
달모듈중량 = [15103, 15235, 15264, 16430, 16445, 16456]

missions['Lunar module (LM)'] = 달모듈이름
missions['LM mass (kg)'] = 달모듈중량

missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg)
0,Apollo11,21.55424,NaN,Eagle (LM-5),15103
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456

In [93]:
# 아폴로 임무별로 달모듈 중량 차이를 구해서 새로운 컬럼 'LM mass diff'를 만들어서  missions 데이터프레임에 추가

missions['LM mass diff (kg)'] = missions['LM mass (kg)'].diff()
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg)
0,Apollo11,21.55424,NaN,Eagle (LM-5),15103,NaN
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [94]:
# 결측치가 있다면 0으로 채우기
missions = missions.fillna(value=0)
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [95]:
#명령모듈의 이름, 중량 컬럼을 missionms 데이터프레임에 추가
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

missions['Command module (CM)'] = 명령모듈이름
missions['CM mass (kg)'] = 명령모듈중량
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960

In [99]:
#임무간 명령 모듈 중량 차이 구하기기
#아폴로 임무별로 명령모듈 중량 차이를 구해서 새로운 컬럼 'CM Mass diff'를 만들어 missions 데이터프레임에 추가

missions['CM mass diff (kg)'] = missions['CM mass (kg)'].diff().fillna(0)
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0

In [100]:
# 승무원영역 = 달모듈 + 명령모듈
# 달 모듈과 명령모듈 중량을 합한 값을 'Total weight (kg)'라는 새로운 컬럼을 만들어 missions 데이터프레임에 추가

missions['Total weight (kg)'] = missions['LM mass (kg)'] + missions['CM mass (kg)']
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg),Total weight (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416

In [101]:
# 승무원 영역을 나타내는 'Total weight (kg)'의 아폴로 임무별 중량 차이를 구하는 새로운 컬럼 'Total weight diff'를 missions 데이터프레임에 추가

missions['Total weight diff (kg)'] = missions['Total weight (kg)'].diff().fillna(0)
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg),Total weight (kg),Total weight diff (kg)
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0

In [102]:
# 페이로드에서 승무원 영역이 차지하는 비율 구하기 -> 'Crewed area : Payload'

saturnVPayload = 43500
missions['Crewed area : Payload'] = missions['Total weight (kg)'] / saturnVPayload
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg),Total weight (kg),Total weight diff (kg),Crewed area : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310

In [103]:
# 승무원 영역에서 암석 샘플이 차지하는 비율 구하기 -> 'Sample : Crewed area'

missions['Sample : Crewed area'] = missions['Sample weight (kg)'] / missions['Total weight (kg)']
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg),Total weight (kg),Total weight diff (kg),Crewed area : Payload,Sample : Crewed area
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882

In [105]:
# 페이로드에서 샘플이 차지하는 비율 구하기 -> 'Sample : Payload'

missions['Sample : Payload'] = missions['Sample weight (kg)'] / saturnVPayload
missions

,Mission name,Sample weight (kg),Weight diff (kg),Lunar module (LM),LM mass (kg),LM mass diff (kg),Command module (CM),CM mass (kg),CM mass diff (kg),Total weight (kg),Total weight diff (kg),Crewed area : Payload,Sample : Crewed area,Sample : Payload
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011,0.001043,0.000495
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172,0.001648,0.000789
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264,0.001990,0.000962
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759,0.003380,0.001733
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299,0.004149,0.002126
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310,0.004882,0.002516

## artemis_mission 데이터프레임 만들기

In [116]:
artemis_crewed_area = 26520

artemis_dict = {'Mission' : ['artemis1', 'artemis1b', 'artemis2'],
                'Total weight (kg)' : [artemis_crewed_area, artemis_crewed_area, artemis_crewed_area],
                'Payload (kg)' : [26988, 37965, 42955]
               }

#딕셔너리를 데이터 프레임으로 저장하기
artemis_mission = pd.DataFrame(artemis_dict)
artemis_mission

     Mission  Total weight (kg)  Payload (kg)
0   artemis1              26520         26988
1  artemis1b              26520         37965
2   artemis2              26520         42955

In [117]:
# missions 데이터프레임에서 'Crewed area : Payload', 'Sample : Crewed area', 'Sample : payload' 의 평균값을 구한다.

missions[['Crewed area : Payload', 'Sample : Crewed area', 'Sample : Payload']].mean()

Crewed area : Payload    0.496303
Sample : Crewed area     0.002849
Sample : Payload         0.001437
dtype: float64

In [118]:
# missions 데이터프레임에서 'Sample weight (kg)'의 총합을 구한다.
missions['Sample weight (kg)'].sum()

np.float64(375.03598999999997)

In [119]:
artemis_mission

     Mission  Total weight (kg)  Payload (kg)
0   artemis1              26520         26988
1  artemis1b              26520         37965
2   artemis2              26520         42955

In [121]:
#artemis_missions 데이터 프레임에 'Sample weight from total (kg)' 컬럼을 추가한다.

sample_per_crewed_area = missions['Sample : Crewed area'].mean()
artemis_mission['Sample weight from total (kg)'] = artemis_mission['Total weight (kg)'] * sample_per_crewed_area
artemis_mission

     Mission  Total weight (kg)  Payload (kg)  Sample weight from total (kg)
0   artemis1              26520         26988                      75.549232
1  artemis1b              26520         37965                      75.549232
2   artemis2              26520         42955                      75.549232

In [122]:
#artemis_mission 데이터프레임에 'Sample weight from payload (kg)' 컬럼을 추가한다.

sample_per_payload = missions['Sample : Payload'].mean()
artemis_mission['Sample weight from payload (kg)'] = artemis_mission['Payload (kg)'] * sample_per_payload
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg)
0,artemis1,26520,26988,75.549232,38.779584
1,artemis1b,26520,37965,75.549232,54.552649
2,artemis2,26520,42955,75.549232,61.722877

In [123]:
# artemis_mission 데이터프레임에 'Estimated sample weight (kg)' 컬럼을 추가한다.

artemis_mission['Estimated sample weight (kg)'] = (artemis_mission['Sample weight from total (kg)'] + artemis_mission['Sample weight from payload (kg)']) / 2
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

## 아르테미스 임무에서 가져올 암석 종류 구하기

In [171]:
# rock_samples의 5개 정보 확인하기

rock_samples.head()

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
0,10001,Apollo11,Soil,Unsieved,88.36,0.1258,0.111157
1,10002,Apollo11,Soil,Unsieved,93.73,5.6290,5.276062
2,10003,Apollo11,Basalt,Ilmenite,65.56,0.2130,0.139643
3,10004,Apollo11,Core,Unsieved,71.76,0.0448,0.032148
4,10005,Apollo11,Core,Unsieved,40.31,0.0534,0.021526

In [172]:
# rock_samples 데이터프레임에 암석샘플의 남은 양을 나타내는 'Remaining (kg)' 컬럼추가

rock_samples['Remaining (kg)'] = rock_samples['Weight (kg)'] * rock_samples['Pristine (%)']  / 100

rock_samples.head()

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
0,10001,Apollo11,Soil,Unsieved,88.36,0.1258,0.111157
1,10002,Apollo11,Soil,Unsieved,93.73,5.6290,5.276062
2,10003,Apollo11,Basalt,Ilmenite,65.56,0.2130,0.139643
3,10004,Apollo11,Core,Unsieved,71.76,0.0448,0.032148
4,10005,Apollo11,Core,Unsieved,40.31,0.0534,0.021526

In [173]:
# rock_samples 수치데이터 요약 통계 확인

rock_samples.describe()

                 ID  Pristine (%)  Weight (kg)  Remaining (kg)
count   2229.000000   2229.000000  2229.000000     2229.000000
mean   52058.432032     84.512764     0.168253        0.138103
std    26207.651471     22.057299     0.637286        0.525954
min    10001.000000      0.000000     0.000000        0.000000
25%    15437.000000     80.010000     0.003000        0.002432
50%    65527.000000     92.300000     0.010200        0.008530
75%    72142.000000     98.140000     0.093490        0.078240
max    79537.000000    180.000000    11.729000       11.169527

In [174]:
# rock_samples['Weight (kg)']의 모든 값이 0.16kg 이상 인지 확인

over_16_g = rock_samples['Weight (kg)'] >= 0.16
rock_samples[over_16_g]

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
1,10002,Apollo11,Soil,Unsieved,93.73,5.6290,5.276062
2,10003,Apollo11,Basalt,Ilmenite,65.56,0.2130,0.139643
7,10010,Apollo11,Soil,Unsieved,91.03,0.4910,0.446957
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.9730,0.425298
12,10018,Apollo11,Breccia,Regolith,97.71,0.2130,0.208122
...,...,...,...,...,...,...,...
2187,79195,Apollo17,Breccia,Fragmental,97.92,0.3685,0.360835
2189,79215,Apollo17,Crustal,Cataclasite,93.33,0.5538,0.516862
2200,79241,Apollo17,Soil,<1mm,93.24,0.1743,0.162517
2206,79261,Apollo17,Soil,<1mm,86.38,0.1878,0.162222
2212,79511,Apollo17,Soil,<1mm,95.88,0.1792,0.171817

In [189]:
# rock_samples['Weight (kg)']이 0.16kg 이상 이면서 rock_samples['Pristine (%)']이 50 이하인지 확인

low_samples_indices =  over_16_g & (rock_samples['Pristine (%)'] <= 50)
rock_samples[low_samples_indices]

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.9730,0.425298
14,10020,Apollo11,Basalt,Ilmenite,27.88,0.4250,0.118490
15,10021,Apollo11,Breccia,Regolith,30.21,0.2500,0.075525
29,10045,Apollo11,Basalt,Olivine,12.13,0.1850,0.022441
37,10057,Apollo11,Basalt,Ilmenite,35.15,0.9190,0.323028
39,10059,Apollo11,Breccia,Regolith,36.94,0.1880,0.069447
52,10072,Apollo11,Basalt,Ilmenite,15.22,0.4470,0.068033
59,10086,Apollo11,Soil,Unsieved,0.01,0.8230,0.000082
68,12002,Apollo12,Basalt,Olivine,49.04,1.5300,0.750312
69,12003,Apollo12,Soil,Unsieved,28.52,0.3000,0.085560
72,12006,Apollo12,Basalt,Olivine,0.53,0.2064,0.001094
94,12028,Apollo12,Core,Unsieved,27.56,0.1896,0.052254
113,12047,Apollo12,Basalt,Ilmenite,33.70,0.1930,0.065041
118,12053,Apollo12,Basalt,Pigeonite,46.43,0.8790,0.408120
120,12055,Apollo12,Basalt,Pigeonite,26.00,0.9120,0.237120
353,15012,Apollo15,Soil,Unsieved,5.77,0.3122,0.018014
354,15013,Apollo15,Soil,Unsieved,8.80,0.2962,0.026066
426,15205,Apollo15,Breccia,Regolith,24.70,0.3373,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,35.91,0.5131,0.184254
570,15475,Apollo15,Basalt,Pigeonite,49.60,0.4068,0.201773
575,15498,Apollo15,Breccia,Regolith,34.11,2.3400,0.798174
607,15555,Apollo15,Basalt,Olivine,46.61,9.6140,4.481085
718,60016,Apollo16,Breccia,Fragmental,49.57,4.3070,2.134980
722,60025,Apollo16,Breccia,Anorthosite,43.61,1.8360,0.800680
1221,66075,Apollo16,Breccia,Fragmental,32.97,0.3471,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,45.06,0.4144,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,25.97,0.3188,0.082792

In [190]:
#위의 두 조건을 모두 만족하는 행만 추출해서 low_samples라는 데이터 프레임을 만든다.

low_samples = pd.DataFrame(rock_samples[low_samples_indices])
low_samples

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.9730,0.425298
14,10020,Apollo11,Basalt,Ilmenite,27.88,0.4250,0.118490
15,10021,Apollo11,Breccia,Regolith,30.21,0.2500,0.075525
29,10045,Apollo11,Basalt,Olivine,12.13,0.1850,0.022441
37,10057,Apollo11,Basalt,Ilmenite,35.15,0.9190,0.323028
39,10059,Apollo11,Breccia,Regolith,36.94,0.1880,0.069447
52,10072,Apollo11,Basalt,Ilmenite,15.22,0.4470,0.068033
59,10086,Apollo11,Soil,Unsieved,0.01,0.8230,0.000082
68,12002,Apollo12,Basalt,Olivine,49.04,1.5300,0.750312
69,12003,Apollo12,Soil,Unsieved,28.52,0.3000,0.085560
72,12006,Apollo12,Basalt,Olivine,0.53,0.2064,0.001094
94,12028,Apollo12,Core,Unsieved,27.56,0.1896,0.052254
113,12047,Apollo12,Basalt,Ilmenite,33.70,0.1930,0.065041
118,12053,Apollo12,Basalt,Pigeonite,46.43,0.8790,0.408120
120,12055,Apollo12,Basalt,Pigeonite,26.00,0.9120,0.237120
353,15012,Apollo15,Soil,Unsieved,5.77,0.3122,0.018014
354,15013,Apollo15,Soil,Unsieved,8.80,0.2962,0.026066
426,15205,Apollo15,Breccia,Regolith,24.70,0.3373,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,35.91,0.5131,0.184254
570,15475,Apollo15,Basalt,Pigeonite,49.60,0.4068,0.201773
575,15498,Apollo15,Breccia,Regolith,34.11,2.3400,0.798174
607,15555,Apollo15,Basalt,Olivine,46.61,9.6140,4.481085
718,60016,Apollo16,Breccia,Fragmental,49.57,4.3070,2.134980
722,60025,Apollo16,Breccia,Anorthosite,43.61,1.8360,0.800680
1221,66075,Apollo16,Breccia,Fragmental,32.97,0.3471,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,45.06,0.4144,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,25.97,0.3188,0.082792

In [191]:
low_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              27 non-null     int64
 1   Mission         27 non-null     object
 2   Type            27 non-null     object
 3   Subtype         27 non-null     object
 4   Pristine (%)    27 non-null     float64
 5   Weight (kg)     27 non-null     float64
 6   Remaining (kg)  27 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.7+ KB

In [192]:
# low_samples 데이터프레임에서 암석유형('Type')별로 개수를 센다.

low_samples['Type'].value_counts()

Type
Basalt     14
Breccia     8
Soil        4
Core        1
Name: count, dtype: int64

In [201]:
#low_samples['Type']의 값이 'Basalt'이거나 'Breccia' 인지 확인 -> isin(리스트)

basalt_or_breccia = low_samples['Type'].isin(['Basalt', 'Breccia'])
low_samples[basalt_or_breccia]

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.9730,0.425298
14,10020,Apollo11,Basalt,Ilmenite,27.88,0.4250,0.118490
15,10021,Apollo11,Breccia,Regolith,30.21,0.2500,0.075525
29,10045,Apollo11,Basalt,Olivine,12.13,0.1850,0.022441
37,10057,Apollo11,Basalt,Ilmenite,35.15,0.9190,0.323028
39,10059,Apollo11,Breccia,Regolith,36.94,0.1880,0.069447
52,10072,Apollo11,Basalt,Ilmenite,15.22,0.4470,0.068033
68,12002,Apollo12,Basalt,Olivine,49.04,1.5300,0.750312
72,12006,Apollo12,Basalt,Olivine,0.53,0.2064,0.001094
113,12047,Apollo12,Basalt,Ilmenite,33.70,0.1930,0.065041
118,12053,Apollo12,Basalt,Pigeonite,46.43,0.8790,0.408120
120,12055,Apollo12,Basalt,Pigeonite,26.00,0.9120,0.237120
426,15205,Apollo15,Breccia,Regolith,24.70,0.3373,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,35.91,0.5131,0.184254
570,15475,Apollo15,Basalt,Pigeonite,49.60,0.4068,0.201773
575,15498,Apollo15,Breccia,Regolith,34.11,2.3400,0.798174
607,15555,Apollo15,Basalt,Olivine,46.61,9.6140,4.481085
718,60016,Apollo16,Breccia,Fragmental,49.57,4.3070,2.134980
722,60025,Apollo16,Breccia,Anorthosite,43.61,1.8360,0.800680
1221,66075,Apollo16,Breccia,Fragmental,32.97,0.3471,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,45.06,0.4144,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,25.97,0.3188,0.082792

In [202]:
# low_samples['Type'] 의 값이 'Basalt'이거나 'Breccia'인 행만 추출해서 needed_samples 데이터프레임 만들기

needed_samples = pd.DataFrame(low_samples[basalt_or_breccia])
needed_samples

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.9730,0.425298
14,10020,Apollo11,Basalt,Ilmenite,27.88,0.4250,0.118490
15,10021,Apollo11,Breccia,Regolith,30.21,0.2500,0.075525
29,10045,Apollo11,Basalt,Olivine,12.13,0.1850,0.022441
37,10057,Apollo11,Basalt,Ilmenite,35.15,0.9190,0.323028
39,10059,Apollo11,Breccia,Regolith,36.94,0.1880,0.069447
52,10072,Apollo11,Basalt,Ilmenite,15.22,0.4470,0.068033
68,12002,Apollo12,Basalt,Olivine,49.04,1.5300,0.750312
72,12006,Apollo12,Basalt,Olivine,0.53,0.2064,0.001094
113,12047,Apollo12,Basalt,Ilmenite,33.70,0.1930,0.065041
118,12053,Apollo12,Basalt,Pigeonite,46.43,0.8790,0.408120
120,12055,Apollo12,Basalt,Pigeonite,26.00,0.9120,0.237120
426,15205,Apollo15,Breccia,Regolith,24.70,0.3373,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,35.91,0.5131,0.184254
570,15475,Apollo15,Basalt,Pigeonite,49.60,0.4068,0.201773
575,15498,Apollo15,Breccia,Regolith,34.11,2.3400,0.798174
607,15555,Apollo15,Basalt,Olivine,46.61,9.6140,4.481085
718,60016,Apollo16,Breccia,Fragmental,49.57,4.3070,2.134980
722,60025,Apollo16,Breccia,Anorthosite,43.61,1.8360,0.800680
1221,66075,Apollo16,Breccia,Fragmental,32.97,0.3471,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,45.06,0.4144,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,25.97,0.3188,0.082792

In [203]:
# needed_samples 정보확인

needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              22 non-null     int64
 1   Mission         22 non-null     object
 2   Type            22 non-null     object
 3   Subtype         22 non-null     object
 4   Pristine (%)    22 non-null     float64
 5   Weight (kg)     22 non-null     float64
 6   Remaining (kg)  22 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.4+ KB

In [204]:
# needed_samples 데이터프레임에서 'Type'으로 groupby해서 암석 샘플의 총중량의 합을 구한다

needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.4234
Breccia    10.1185
Name: Weight (kg), dtype: float64

In [205]:
# rock_samples 데이터프레임에서 'Type'으로 groupby 해서 암석 샘플의 중량의 합을 구한다. 
#           -> 아폴로 임무에서 처음부터 수집이 안된 암석을 구한다.

rock_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt      93.14077
Breccia    168.88075
Core        19.93587
Crustal      4.74469
Soil        87.58981
Special      0.74410
Name: Weight (kg), dtype: float64

In [213]:
rock_samples['Type'] == 'Crustal'

0       False
1       False
2       False
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Type, Length: 2229, dtype: bool

In [207]:
# rock_samples에서 'Type'이 'Crustal'. 인 행만 추출한다.

crustal = rock_samples['Type'] == 'Crustal'

In [208]:
# needed_samples에 crustal을 추가한다.

needed_samples = pd.concat([needed_samples, rock_samples[crustal]])
needed_samples

,ID,Mission,Type,Subtype,Pristine (%),Weight (kg),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,43.71,0.97300,0.425298
14,10020,Apollo11,Basalt,Ilmenite,27.88,0.42500,0.118490
15,10021,Apollo11,Breccia,Regolith,30.21,0.25000,0.075525
29,10045,Apollo11,Basalt,Olivine,12.13,0.18500,0.022441
37,10057,Apollo11,Basalt,Ilmenite,35.15,0.91900,0.323028
...,...,...,...,...,...,...,...
2089,78238,Apollo17,Crustal,Norite,86.03,0.00000,0.000000
2092,78256,Apollo17,Crustal,Pristine,0.00,0.00000,0.000000
2126,78517,Apollo17,Crustal,Cataclasite,82.97,0.00182,0.001510
2130,78527,Apollo17,Crustal,Cataclasite,82.05,0.00516,0.004234
2189,79215,Apollo17,Crustal,Cataclasite,93.33,0.55380,0.516862

In [210]:
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 11 to 2189
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              68 non-null     int64
 1   Mission         68 non-null     object
 2   Type            68 non-null     object
 3   Subtype         68 non-null     object
 4   Pristine (%)    68 non-null     float64
 5   Weight (kg)     68 non-null     float64
 6   Remaining (kg)  68 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.2+ KB

In [211]:
needed_samples.Type.unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

In [212]:
needed_samples['Type'].unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

## needed samples overview 만들기

In [255]:
## 아르테미스 임무에 전달할 최종 데이터프레임 needed_samples_overview 만든다.

needed_samples_overview = pd.DataFrame()
needed_samples_overview

Empty DataFrame
Columns: []
Index: []

In [256]:
# needed samples 데이터프레임에서 중복되지 않은 암석유형을 추출한다.

needed_samples['Type'].unique()
needed_samples_overview['Type'] = needed_samples['Type'].unique()
needed_samples_overview

      Type
0   Basalt
1  Breccia
2  Crustal

In [257]:
# needed_samples 데이터프레임에서 암석유형별('Type') 중량 합을 구한다.

needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.42340
Breccia    10.11850
Crustal     4.74469
Name: Weight (kg), dtype: float64

In [258]:
needed_sample_weight_sum = needed_samples.groupby('Type')['Weight (kg)'].sum().reset_index()
needed_sample_weight_sum

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [259]:
# 두 데이터프레임을 병합한다.

merged = pd.merge(needed_samples_overview, needed_sample_weight_sum, on='Type')
needed_samples_overview = merged
needed_samples_overview

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [260]:
# 컬럼명을 변경 'Weight (kg)' -> 'Total weight (kg)'

needed_samples_overview.rename(columns={'Weight (kg)': 'Total weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)
0   Basalt           17.42340
1  Breccia           10.11850
2  Crustal            4.74469

In [261]:
# needed_samples 데이터프레임에서 암석유형별 중량의 평균을 구한다.

needed_samples_weight_mean = needed_samples.groupby('Type')['Weight (kg)'].mean().reset_index()
needed_samples_weight_mean

      Type  Weight (kg)
0   Basalt     1.244529
1  Breccia     1.264813
2  Crustal     0.103145

In [262]:
# 두 데이터프레임을 병합한다.

merged = pd.merge(needed_samples_overview, needed_samples_weight_mean, on='Type')
needed_samples_overview = merged
needed_samples_overview

      Type  Total weight (kg)  Weight (kg)
0   Basalt           17.42340     1.244529
1  Breccia           10.11850     1.264813
2  Crustal            4.74469     0.103145

In [263]:
# 컬럼명을 변경 'Weight (kg)' -> 'Average weight (kg)'

needed_samples_overview.rename(columns={'Weight (kg)': 'Average weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)
0   Basalt           17.42340             1.244529
1  Breccia           10.11850             1.264813
2  Crustal            4.74469             0.103145

In [264]:
# rock_samples 데이터프레임에서 암석유형별('Type') 개수를 구해서 total_rock_count 라는 데이터프레임을 만든다.

total_rock_count = rock_samples['Type'].value_counts().reset_index()
total_rock_count

      Type  count
0  Breccia    959
1     Soil    813
2   Basalt    351
3     Core     56
4  Crustal     46
5  Special      4

In [265]:
# 두 데이터프레임을 병합한다.

merged = pd.merge(needed_samples_overview, total_rock_count, on='Type')
needed_samples_overview = merged
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)  count
0   Basalt           17.42340             1.244529    351
1  Breccia           10.11850             1.264813    959
2  Crustal            4.74469             0.103145     46

In [266]:
# 컬럼명을 변경한다. 'ID' -> 'Number of samples'

needed_samples_overview.rename(columns={'count' : 'Number of samples'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)  Number of samples
0   Basalt           17.42340             1.244529                351
1  Breccia           10.11850             1.264813                959
2  Crustal            4.74469             0.103145                 46

In [267]:
# needed_samples_overview['Number of samples'] 의 총합을 구하고 total_rocks에 할당

total_rocks = needed_samples_overview['Number of samples'].sum()
total_rocks

np.int64(1356)

In [269]:
# 각 암석유형별로 차지하는 비율을 구해서 'Percentage of rocks'라는 컬럼에 할당한다.
needed_samples_overview['Percentage of rocks'] = needed_samples_overview['Number of samples'] / total_rocks
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks
0,Basalt,17.42340,1.244529,351,0.258850
1,Breccia,10.11850,1.264813,959,0.707227
2,Crustal,4.74469,0.103145,46,0.033923

In [270]:
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

In [272]:
# artemis_mission['Estimated sample weight (kg)']의 평균을 구해서 Artemis 달탐사의 에상 암석 중량을 구한다.

estimated_sample_weight_mean = artemis_mission['Estimated sample weight (kg)'].mean()
estimated_sample_weight_mean

np.float64(63.61713411579792)

In [274]:
# needed_samples_overview['Weight to collect'] 컬럼을 만든다.

needed_samples_overview['Weight to collect'] = needed_samples_overview['Percentage of rocks'] * estimated_sample_weight_mean
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267
1,Breccia,10.11850,1.264813,959,0.707227,44.991764
2,Crustal,4.74469,0.103145,46,0.033923,2.158103

In [275]:
# 수집할 각각의 암석 개수를 알려준다.

needed_samples_overview['Rocks to collect'] = needed_samples_overview['Weight to collect'] / needed_samples_overview['Average weight (kg)']
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect,Rocks to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267,13.231731
1,Breccia,10.11850,1.264813,959,0.707227,44.991764,35.571884
2,Crustal,4.74469,0.103145,46,0.033923,2.158103,20.922917

In [280]:
print('='*50)
print('Mission Overview')
print('='*50)

for type_, count, weight in needed_samples_overview[['Type', 'Rocks to collect', 'Weight to collect']].values:
    print(f'{type_} -> {count:.4f} samples, {weight:.4f} kg')

==================================================
Basalt -> 13.2317 samples, 16.4673 kg
Breccia -> 35.5719 samples, 44.9918 kg
Crustal -> 20.9229 samples, 2.1581 kg